<link rel="stylesheet" href="/static/style.css">
<div class="container">
    <form action="/" method="post" id="task-form">
        <input type="text" id="task-input" name="notes" placeholder="Add Tasks">
        <button type="submit" id="push">Add</button>
    </form>
    <div id="tasks">
        {% if newdocs is not defined %}
            No Notes to display
        {% endif %}
            {% for item in newdocs %}
                <li class="item-notes">{{ item.notes }}</li>
            {% endfor %}
    </div>
</div>
